#todo {
	
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
	
	width: 100%;
    opacity: 0.95;
	
}

.navbar.navbar-expand-lg.navbar-light {
	
	background-color: #222831;
}

.nav-item {
	
	color:white;
	padding-right: .5rem;
	padding-left: .5rem;
}

body {

    font-size: 12pt;
	width:100%;
	height:100%;
	
	background-image:url("../img/cielo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

article {
	
	width:100%;
	height:100%;
	
}

#Calendario {

	margin-top:10px;
	margin-left:10%;
	margin-bottom:5px;
	border: 2px solid #222831;
	
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #222831;
    background-clip: border-box;
	
    opacity: 0.95;
	
	height:100%;
	
	background-image:url("../img/toweno.jpg");
	background-repeat: no-repeat;
	
	border-radius: 10px;
	
	width:80%;
	
}

#eligeviaje {
	
  color:white;
  text-align:center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  
  text-shadow: 5px 5px 5px black;
   
}

#viaje3 {
	
   
   text-align:justify;
   height:100%;
   font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   color: white;
   font-size: 17px;
   
}

#viaje3 p  {
	
	text-shadow: 5px 5px 5px black;

}

#viaje3 form {
	
	text-align: center;
 
}

#fut {
	
	margin-top:100px;
	width: 100%;
	margin-bottom:0px;
	height: 100%;
	display: block;
	font-family:"Geomanist";
	
}

#fut1 {
	
	width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
	color:#222831;
	font-weight:bold;
	
}

#redes {
	
    word-spacing: 4.25em;

	margin-top:15px;
	margin-bottom:10px;
	margin-left: 10%;
	
	position: relative;
	text-align:center;
	
	width: 80%;
	
}

#fut img {
	
    width: 50px;
    height:	50px;

}

.inpt {
	
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
	
}

.po {
	
	-webkit-text-stroke: 0.3px black;
	font-weight:bold;
	color:white;
	
}

.po a {
	
	border-radius: 5px;
	box-shadow: 2px 2px 5px;
	font-weight:bold;
	border:0;
	
}

















